* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Proxima Nova', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	line-height: 1;
}

.flex-container {
	display: flex;
}

.flex-container.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-container.flex-direction-col {
	flex-direction: column;
}

.flex-container.flex-v-center {
	align-items: center;
}

.flex-container.flex-h-center {
	justify-content: center;
}

.flex-container.flex-no-wrap {
	flex-wrap: nowrap;
}

.flex-container.flex-wrap {
	flex-flow: row wrap;
}

.flex-container.justify {
	justify-content: space-around;
}

.flex-container.justify-space-between {
	justify-content: space-between;
}

.flex-container.flex-stretch {
	align-items: stretch;
}

.flex-container > .flex-expand {
	flex: 1;
}

.flex-container > .flex-pull-left {
	margin-right: auto;
	flex-basis: auto;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.flex-container > .flex-pull-right {
	margin-left: auto;
	flex-basis: auto;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.flex-container > .flex-pull-bottom {
	margin-top: auto;
}

.col {
	border: 1px solid black;
	width: 100px;
	min-width: 100px;
	height: 30px;
	min-height: 30px;
	overflow: hidden;
	padding: 6px;
}

.col div {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.col.header {
	font-weight: bold;
	background: #b7bec7;
	cursor: pointer;
}

.hidden {
	display: none;
}
.header:hover .hidden {
	display: block;
}
